In [0]:
val1= input("Enter first value ")
val2= input("Enter second  value")
operator= input("Enter operator")
val1= int(val1)
val2= int(val2)

if operator =='+':
    val= val1 +val2
    print(val,'answer')
elif operator =='-':
    val= val1-val2
    print(val,'answer')
elif operator =='*':
      val= val1 *val2
      print(val ,'answer')
elif operator =='/':
   val=val1/val2
   print(val,'answer')
elif operator =='**':
   val=val1**val2
   print(val,'answer')
    
   
   

else:
     print('Enter Correct Operator')

Enter first value 19
Enter second  value3
Enter operator*
57 answer

In [0]:
numeric_values= ["17","18","19"]
val= input("enter number")
for hakunamatata in numeric_values:
  if val == hakunamatata:
    print("this is the numeric value")
else:
  print("this is not the numeric value")

enter numbermaryam
this is not the numeric value

In [0]:
capitals ={'Pakistan':'Islamabad','UK':'London','France':'Paris'}
capitals['Germany']='Berlin'
print(capitals)

{'Pakistan': 'Islamabad', 'UK': 'London', 'France': 'Paris', 'Germany': 'Berlin'}

In [0]:
Maryam={'a':50, 'b':100, 'c':150, 'd':200}
total= sum(Maryam.values())
print(total)

500

In [0]:
import counter
def find_dup_char(input):
  wc= counter(input)
  j=-1
for i in wc.values():
  j=j+1
  if(i>1):
    print wc.keys()[j]:

SyntaxError: ignored

In [0]:
d= {'maryam' : 130,'nisbha': 247,'fatima' : 420, 'hamza' : 569,'abdullah' : 280}
user_ip = input('Enter the key to be verified:')
if user_ip in d.keys():
  print('key is present in the dictionary')
  print('value',':' ,d[user_ip])
else:
  print("key is not present in the dictionary")

Enter the key to be verified:hamza
key is present in the dictionary
value : 569